@import url("../../all/theme/footericons.css?hash=6f9e90fc");

.footerbar .main-width {
	display: block;
}

.copyright {
	text-align: center;
}

.socialinks {
	display: none;
}

.fi-icons-list.fi-page-body-after {
	margin: 5px 0;
}
